<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
     <add key="P21ConnectionString" value="" />
     <add key="LogSqlConnection" value="" />
     <add key="LOGLEVEL" value="Debug"/>
     <add key="LOGFILE" value="c:/temp/logs/p21rules.txt"/>
     <add key="LOGINTERNAL" value="false"/>
     <add key="APPLICATION" value="P21 Business Rule"/>
     <add key="SMTPSERVER" value=""/>
     <add key="P21Api" value="" />
     <add key="ApiUser" value="" />
     <add key="ApiConsumerKey" value="" />
     <add key="SeqUrl" value="" />
     <add key="ElasticUrl" value="" />
  </appSettings>
</configuration>